[submodule "SkeletonConnector"]
	path = SkeletonConnector
	url = https://github.com/CatAndDogSoup/SkeletonConnector
[submodule "mGearScripts"]
	path = mGearScripts
	url = https://github.com/CatAndDogSoup/mGearScripts
